body
{
    width: 99%;
    height: 195%;
     background-image: url('T2.jpg');
background-size:cover;
 background-repeat: no-repeat;
}


#iframea
{
position: absolute;
margin-top:50px;
top: 475px; 
left:125px;
width:1120; 
height:550; 
border: 3px brown solid; 
border-radius:9px;
opacity:0.9;
}



#a
{

position: fixed;
top: 23px;
left:312px;
width:1180px;
height:75px;
display: block;
font-family:Yu Gothic UI Light;
font-size:18;
display:block;
background-color:white;
vertical-align:text-top;
line-height: 75px;
}


#b
{
position: absolute;
top: 213px;
left:1015px;
width:338;
display: block;
font-family:Papyrus;
font-size: 25;
display:block;
background-color:black;
color:brown;

}

#c
{
position:aboslute;
position: fixed;
margin: -8px;
margin-top: -10px;

width:1349px;
height:25px;
font-size:7;
vertical-align:text-top;
line-height: 10px;
color:white;
font-family:;
background-color:#2E8CB5;
}

#d
{
position: fixed;
top:23px;
left:0px;
height:75px;
vertical-align:text-top;
line-height: 25px;
display: block;
font-family:Yu Gothic UI Light;
font-size: 20;
display:block;
color:brown;
background-color:white;
font-family:Harrington;


}

#e
{
position: absolute;
top:90px;

margin: -8px;
margin-top: -10px;
width:1349px;
height:205px;
vertical-align:text-top;

display: block;
font-family:Yu Gothic UI Light;
font-size: 35;
display:block;
color:white;
background-color:	#2E8CB5;
text-align:center;

}

#footer
{
position:absolute;
top:1349px;
margin: -8px;
margin-bottom: -10px;

width:1349px;
height:50px;
font-size:13;
text-align:center;
color:brown;
background-color:white;
}




 
#urat
{
position:absolute;
top:315px;
margin:-8;
width:1349px;
height:75px;
vertical-align:text-top;

color:brown;
background-color:	white;
font-size:25px;

}

h6
{
position:relative;
vertical-align:text-top;
line-height: 5px;
}

h3
{
line-height:20px;
}


#s
{
line-height:55px;
}

