body
{
    width: 99%;
    height: 175%;
     background-image: url('TS1.jpg');
background-size:cover;
 background-repeat: no-repeat;
}




#a
{

position: fixed;
top: 23px;
left:312px;
width:1180px;
height:75px;
display: block;
font-family:Yu Gothic UI Light;
font-size:18;
display:block;
background-color:white;
vertical-align:text-top;
line-height: 75px;
}


#b
{
position: absolute;
top: 213px;
left:1015px;
width:338;
display: block;
font-family:Papyrus;
font-size: 25;
display:block;
background-color:black;
color:brown;

}

#c
{
position:aboslute;
position: fixed;
margin: -8px;
margin-top: -10px;

width:1349px;
height:25px;
font-size:7;
vertical-align:text-top;
line-height: 10px;
color:white;
font-family:;
background-color:#FF8C00;
}

#d
{
position: fixed;
top:23px;
left:0px;
height:75px;
vertical-align:text-top;
line-height: 25px;
display: block;
font-family:Yu Gothic UI Light;
font-size: 20;
display:block;
color:brown;
background-color:white;
font-family:Harrington;


}

#e
{
position: absolute;
top:90px;

margin: -8px;
margin-top: -10px;
width:1349px;
height:205px;
vertical-align:text-top;
line-height: 125px;
display: block;
font-family:Yu Gothic UI Light;
font-size: 35;
display:block;
color:white;
background-color:	#FF8C00;
text-align:center;


}

#footer
{
position:absolute;
top:1209px;
margin: -8px;
margin-bottom: -10px;

width:1349px;
height:50px;
font-size:13;
text-align:center;
color:brown;
background-color:white;
}




 
#urat
{
position:absolute;
top:315px;
margin:-8;
width:1349px;
height:75px;
vertical-align:text-top;

color:brown;
background-color:white;
font-size:25px;

}


h8
{
position:relative;
top:10px;
font-family:Yu Gothic Light;
font-size:30px;
background-color:#FF8C00;
color:white;
}

h6
{
position:relative;
vertical-align:text-top;
line-height: 5px;
}


#st
{
position: absolute;
border-style: solid;
border-color: brown;
top:450px;
left:170px;
width:950px;
height:540px;
overflow:auto;
background-color:white;
opacity:0.9;
}

h10
{

position:absolute;
top:10px;

right:0px;
font-family:Yu Gothic Light;
font-size:30px;
background-color:	#FF8C00 ;
color:white;
}

h11
{

position:absolute;
right:0px;
font-family:Yu Gothic Light;
font-size:30px;
background-color:	#FF8C00 ;
color:white;
}
 
 h9
 {
position:absolute;
font-family:Yu Gothic Light;
font-size:30px;
background-color:#FF8C00;
color:white; 
 }



}